# Compose files to use together. NOTE: we specify separator below
# so it will work on Windows and Unix, see
# https://docs.docker.com/compose/reference/envvars/#compose_file
# Use docker-compose.yml;production.yml for production or docker-compose.yml/development.yml for development
COMPOSE_PATH_SEPARATOR=;
COMPOSE_FILE=

# Osteppy Port
PORT=3000

# User and password for MongoDB
MONGO_USER=
MONGO_PASS=

# Leave blank for development and 'mongodb' for production
MONGO_HOST=

# Slack configurations
SLACK_SIGNING_SECRET=
SLACK_TEAM_ID=
