[Unit]
Description=Osteppy EOD reminder service

[Service]
Type=idle
Restart=always
RestartSec=3
ExecStart=/usr/bin/node OLDDIR/EODReminder.js

[Install]
WantedBy=multi-user.target