[Unit]
Description=Osteppy reset user list service

[Service]
Type=idle
Restart=always
RestartSec=3
ExecStart=/usr/bin/node OLDDIR/resetUserList.js

[Install]
WantedBy=multi-user.target
